
.comparison {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 4rem;
}

.comparison h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #0a3d1e;
}

.table-wrapper{
    width: 80%;
}
.compare-table {
    width: 100%;
  border-collapse: collapse;
}

.compare-table th,
.compare-table td {
  padding: 18px 12px;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  font-size: 15px;
}

.compare-table thead th {
  font-weight: 600;
  color: #333;
}

.quality-col {
  text-align: left;
  width: 35%;
  color: #322d2d;
  font-weight: 700;
  font-size: 16px;
}

/* Product headers */
.compare-table th img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  margin: 0 auto 6px;
}

.compare-table th span {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

/* Highlight GTG column */
.gtg-col {
  background: #eefaf1;
  font-weight: 600;
  position: relative;
}
.compare-table .gtg-col span{
    font-size: 20px;
}

.gtg-col::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

/* Icons */
.fa-check {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #0a3d1e;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.fa-xmark {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1.5px solid #333;
  color: #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cta {
  margin-top: 24px;
}

.compare-table .quality,
.compare-table .quality-col {
  text-align: left;
}

.compare-table .quality {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.compare-table .gtg-col {
  border-bottom: 1px dashed #0a3d1e;
}



@media screen and (max-width: 900px) {
  .comparison {
    margin: 2rem 1rem;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .compare-table {
    min-width: 700px; 
    width: 100%;
    margin: 0;
  }

  .quality-col {
    min-width: 180px;
  }
}
